body{
    font-family: 'Montserrat', sans-serif;
}

.d1 {
    width: 142px;
    height:143px;
    border-radius: 10%;
    margin-top:19px;
}

.box{
    margin-left: 283px;
    margin-top:272px;
    margin-bottom:145px;
}

.article {
    display:flex;
    margin-top:12px;
}

.space{
    font-family: Montserrat;
    font-style: normal;
    font-size: 38px;
    font-weight: 700;
    line-height: 28px;
    display: block;
    align-items: center;
    margin-top:10px;
    margin-left: 82px;
}

.subtytle{
    margin-top: -10px;
    font-weight: 400;
}




